body {
  background: linear-gradient(
    #031716,
    #032f30,
    #0a7075,
    #0c969c,
    #6ba3be,
    #274d60
  );
  min-height: 97vh;
}

h1 {
  border-radius: 5vh;
  border-width: 5px;
  background-color: rgb(22, 48, 46);
  padding: 20px;
}
